[submodule "tools/EDDecompiler"]
	path = tools/EDDecompiler
	url = https://github.com/ZhenjianYang/EDDecompiler
[submodule "tools/PyLibs"]
	path = tools/PyLibs
	url = https://github.com/ZhenjianYang/PyLibs
